/build/
/fixture/Plugins/
/fixture/Data/
/fixture/Logs/
/fixture/Project/DerivedData/
/fixture/Libraries/
/fixture/Project/userPreferences.*
/fixture/Resources/

__pycache__/

/dist/
.venv/
.ruff_cache/
.DS_Store
*.license
*.p12
*.key
*.4dd
*.4DIndx
